{% extends 'admin/change_list.html' %}
{% block content_title %}
    <h1> User Validation Summary </h1>
{% endblock %}
{% load humanize %}

<!-- ... -->

{% block result_list %}

<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Keyword</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Positive Classification</a>
          </div>
        </th>
        <!-- <th>
          <div class="text">
            <a href="#">Classification</a>
          </div>
        </th> -->
        <!-- <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th> -->
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.main_keyword }} </td>
        <!-- <td> {{ row.domainness_belongs_to_domain }} </td> -->
        <td> {{ row.total | intcomma }} </td>
        <!-- <td> {{ row.total_domain_classified | default:0 | intcomma }}$ </td> -->
        <!-- <td>
          <strong>
          {{ row.total_sales |
              default:0 |
              percentof:summary_total.total_sales }}
          </strong>
        </td> -->
      </tr>
      {% endfor %}
      <td> Total </td>
        <!-- <td> {{ summary_total.total | intcomma }} </td> -->
        <td> {{ summary_total.total | default:0 }} </td>
      
    </tbody>

  </table>
</div>

<!-- ... -->

{% endblock %}
{% block pagination %}{% endblock %}